<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="0edf7461-a82c-4b2d-8231-0f2a7cbc66a4" Publisher="CN=tmdal_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WifiDirect_HelloWorld</DisplayName>
    <PublisherDisplayName>tmdal_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WifiDirect_HelloWorld.App">
      <m2:VisualElements DisplayName="WifiDirect_HelloWorld" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="WifiDirect_HelloWorld" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>